h1{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    font-size: xx-large;
    margin: 5px;
    padding: 15px
}

span{
    color: aqua;
}

h2 {
    background-color: rebeccapurple;
    color: white;
    font-style: normal;
    text-align: center;
    font-size: large;
    margin: 5px;
    padding: 15px;
}

h3{
    background-color: powderblue;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-align: right;
    font-style: italic;
    font-size: medium;
    margin: 5px;
    padding: 15px;
}