/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 970px;
    margin: 100px auto;
}

.white{
    height: 300px;
    width: 450px;
    background-color: white;
    border: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.green{
    height: 300px;
    width: 150px;
    background-color: green;
}

.red{
    height: 300px;
    width: 150px;
    background-color:red

}